html,body {
    height: 100vh;
    background-color: #e5f5f5;
    padding: 0;
    margin:0;
  }
.row {
    height: 100vh;
}
.aronaMail{
    height:30%;
    width:30%;
    position:fixed;
    top:20%;
    left:20%;
}